<ul class="navbar-nav ml-auto">


    
    
    <div class="navbar">
        <form action="@Url.Action("Search", "Home")" method="get">
            <input type="text" name="searchQuery" placeholder="Search..." />
            <input type="submit" value="Search" />
        </form>

        <ul class="navbar-nav ml-auto">



            <li class="nav-item">
                <a class="nav-link" href="~/Home/Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/About">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Home/Contact">Contact</a>
            </li>




            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">BMC</span>
                    <img class="img-profile rounded-circle"
                         src="~/Theme/bmclogo.jpg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="~/Account/Login">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>

                </div>

            </li>


        </ul>
    </div>

  



    <!-- Nav Item - User Information -->
   

</ul>

<style>
    .navbar {
        display: flex;
        align-items: center;
    }

        .navbar form {
            margin-right: auto;
            padding-right:800px;
        }

            .navbar form input[type="submit"] {
                margin-left: 10px;
            }

            .navbar form input[type="text"] {
                width: 500px;
                padding: 2px;
               
                
                border-radius: 2px;
            }

</style>







