@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">*@
<div class="text-center">
    
        <img width="1000" height="600" src="~/Image/schoolmgmt.png" alt="schoolmgmtimg" />
   
    <p class="lead"><center>Welcome to our School</center></p>
</div>


 

    
    


