@model MarksViewModel

<h2>Add Marks for Student</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.StudentId)

    <div class="form-group">
        @Html.LabelFor(m => m.ExamName)
        @Html.TextBoxFor(m => m.ExamName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ExamName)
    </div>

    <!-- Add other form fields for marks, such as Subject, MarksObtained, etc. -->

    <input type="submit" value="Save" class="btn btn-primary" />
}