@using DBSchoolManagementSystem.Models
@model SubmitAssignment


@{
    ViewBag.Title = "SubmitAssignment";
}

<h2>ViewAssignment</h2>
<div>


    @Html.ActionLink("Assignment", "Assignment", new { id = Model.AssignmentId })

    {
    <div>
        <form method="post" enctype="multipart/form-data" action="/Student/SubmitAssignment">
            <input type="hidden" name="assignmentId" value="@Model.AssignmentId" />
            <input type="file" name="assignmentFile" />
            <input type="submit" value="Submit" />
        </form>

    </div>
    }

</div>