@using DBSchoolManagementSystem.Models
@model SubmitAssignmentVm

@{ 
    var assignment = ViewBag.assignment as Assignment;
}

@{
    ViewBag.Title = "ViewAssignment";
}

<h2>ViewAssignment</h2>
<div>
   

            <div>
                <span>@assignment.Title</span>
                <span>@assignment.Description</span>
                <span>@assignment.DueDate</span>
                <form method="post" enctype="multipart/form-data" action="/Student/SubmitAssignmentTo">
                    <input type="hidden" name="AssignmentId" value="@assignment.AssignmentId" />
                    <input type="file" name="FileUrl" />
                    <input type="submit" value="Submit" />
                </form>

            </div>
        
    
</div>




